{#include partials/paroisse/layout.html}
  {#insert content}
    <div class="error-page-fullscreen">
      <div class="error-background" style="background-image: url('/images/404_error.jpg');">
        <div class="error-overlay">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-1 mb-4 text-white">404</h1>
                <h2 class="mb-4 text-white">Page non trouvée</h2>
                <p class="lead mb-4 text-white">Désolé, la page que vous recherchez n'existe pas.</p>
                <a href="{site.url}" class="btn btn-light btn-lg">Retour à l'accueil</a>
                {#insert body /}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {/insert}
{/include}
