{#if cdi:menu.items}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {#for item in cdi:menu.items}
    <li class="nav-item {#if item.get('children')}dropdown{/if}">
        {#if item.get('children')}
        <!-- Dropdown menu item avec survol -->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{item_index}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {item.get('title')}
        </a>
        <ul class="dropdown-menu {#if item.get('title') == 'Les églises'}churches-menu{/if}" aria-labelledby="navbarDropdown{item_index}">
            {#for child in item.get('children')}
            <li><a class="dropdown-item" href="{child.get('path')}">{child.get('title')}</a></li>
            {/for}
        </ul>
        {#else}
        <!-- Regular menu item -->
        {#if item.get('search')}
        <!-- Search item -->
        <form class="d-flex ms-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
        </form>
        {#else}
        <!-- Regular link -->
        <a class="nav-link {#if page.url == item.get('path')}active{/if}" href="{item.get('path')}" {#if item.get('target')}target="{item.get('target')}"{/if}>
            {item.get('title')}
        </a>
        {/if}
        {/if}
    </li>
    {/for}
</ul>
{/if}
